extends layout.jade
block title
  title 植物碎片

block content
  template#app(is='auto-binding')
    core-media-query(query="max-width: 768px" queryMatches="{{phoneScreen}}")
    core-animated-pages#pages(selected='0',flex,on-core-animated-pages-transition-end='{{transitionend}}',transitions='hero-transition')

      //- 引导页 0
      section(vertical, layout)
        #noscroll(fit, hero-p)
          #container(flex, vertical, wrap, around-justified, layout, cross-fade)
            div(vertical, center, center-justified, layout,cross-fade)
              falling-leaves
              pi-welcome
              p.des 这是一场植物的盛典，那些在碎片中挣扎的生命，是正在逝去的美丽。
              paper-button.btn(
                cross-fade raised on-tap='{{selectView}}'
                hero-id='page-main',
                hero?="{{$.pages.selected === page2Num['page-main'] || lastSelected === page2Num['page-main']}}") 进入展览

      //- 主页 1
      section#mainPage(layout vertical,on-mousewheel="{{handleMouseWheel}}")
        .main-view.view(class="{{plant.file}}-view",flex,layout,vertical?="{{phoneScreen}}",horizontal?="{{!phoneScreen}}",hero-id='page-main',hero?="{{$.pages.selected === page2Num['page-main'] || $.pages.selected === page2Num['page-main']-1}}")
          //- 工具条
          core-toolbar(layout,horizontal?="{{!phoneScreen}}",center?="{{!phoneScreen}}")
            div(layout,justified,horizontal?="{{phoneScreen}}",vertical?="{{!phoneScreen}}")
              paper-fab(icon="apps",mini,title="所有植物",cross-fade,raised,on-tap='{{selectView}}',hero-id='page-all',hero?="{{$.pages.selected === page2Num['page-all'] || lastSelected === page2Num['page-all']}}")
              autoPlay-btn#autoPlayBtn(autoPlay="false", on-tap="{{toggleAutoPlay}}")
              //- pi-audio.notsm(path="{{config.bgmPath}}",autoPlay="{{!phoneScreen}}")
              pi-audio.notsm(path="{{config.bgmPath}}",autoPlay="false")
              paper-icon-button.pre-btn(icon="arrow-back" title="上一个" on-tap="{{getPre}}")
              paper-icon-button.next-btn(icon="arrow-forward" title="下一个" on-tap="{{getNext}}")

          div.plantArea(cross-fade,raised,on-touchstart="{{handleTouchStart}}",on-touchmove="{{handleTouchMove}}",on-touchend="{{handleTouchEnd}}",style="z-index:0")
            pi-plants#plant(cross-fade,raised,plantsClass='{{plant.file}}',stateInterval="{{config.stateInterval}}")

          //- 菜单
          paper-fab-menu(cross-fade,raised,layout,center?="{{!phoneScreen}}",horizontal?="{{!phoneScreen}}",onlyOpen='{{phoneScreen?false:true}}' icon='menu', closeicon='close', duration='0.3')
            paper-fab-menu-item(opened icon='image:details', color='rgba(18,179,136,0.2);', tooltip='详情',cross-fade,raised,on-tap='{{selectView}}',hero-id='page-detail',hero?="{{$.pages.selected === page2Num['page-detail'] || lastSelected === page2Num['page-detail']}}")
            paper-fab-menu-item(opened icon='wallet-giftcard', color='rgba(18,179,136,0.4);', tooltip='电子贺卡',cross-fade,raised,on-tap='{{selectView}}',hero-id='page-ecard',hero?="{{$.pages.selected === page2Num['page-ecard'] || lastSelected === page2Num['page-ecard']}}")
            paper-fab-menu-item(icon='editor:insert-comment', color='rgba(18,179,136,0.6);', tooltip='评论',cross-fade,raised,on-tap='{{selectView}}',hero-id='page-comment',hero?="{{$.pages.selected === page2Num['page-comment'] || lastSelected === page2Num['page-comment']}}")
            paper-fab-menu-item(icon='info-outline', color='rgba(18,179,136,0.8);', tooltip='关于',cross-fade,raised,on-tap='{{selectView}}',hero-id='page-about',hero?="{{$.pages.selected === page2Num['page-about'] || lastSelected === page2Num['page-about']}}")

          //- 植物名
          div.plantName {{plant.name}}


      //- 所有植物页面 2
      section(layout, vertical)
        .all-view(cross-fade,raised,layout,vertical,hero-id='page-all',hero?="{{$.pages.selected === page2Num['page-all'] || $.pages.selected === page2Num['page-main']}}")
          core-toolbar.return-bar(horizontal,layout,end-justified,center)
            paper-icon-button(cross-fade,raised,on-tap='{{back}}',icon="close" title="返回")
          .wrap(flex,layout,vertical)
            pi-all(flex,cross-fade,raised,layout,horizontal,center-justified,center?="{{!phoneScreen}}",on-tap="{{choosePlant}}",activePlant="{{activePlant}}")


      //- 详情页面 3
      section(layout,vertical)
        .detail-view(cross-fade,raised,layout,vertical,hero-id='page-detail',hero?="{{$.pages.selected === page2Num['page-detail'] || $.pages.selected === page2Num['page-main']}}")
          core-toolbar.return-bar(horizontal,layout,end-justified,center)
            paper-icon-button(cross-fade,raised,on-tap='{{back}}',icon="close" title="返回")
          .wrap(flex)
            page-detail(cross-fade,raised,layout,vertical?="{{phoneScreen}}",horizontal?="{{!phoneScreen}}")
              co-txt
                div {{plant.des}}
              co-img(layout,horizontal,flex)
                img-slider(layout,horizontal,flex,path="data/{{plant.file}}/images/")
              co-video(layout,horizontal,flex)
                pi-video(layout,horizontal,flex,path="data/{{plant.file}}/videos/0.mp4",poster="images/plantImg/{{plant.file}}.jpg")
              co-data(layout,horizontal,flex)


      //- 电子贺卡 4
      section(layout,vertical)
        .ecard-view(cross-fade,raised,layout,vertical,hero-id='page-ecard',hero?="{{$.pages.selected === page2Num['page-ecard'] || $.pages.selected === page2Num['page-main']}}")
          core-toolbar.return-bar(horizontal,layout,end-justified,center)
            paper-icon-button(cross-fade,raised,on-tap='{{back}}',icon="close" title="返回")
          .wrap(flex,layout,horizontal)
            e-card(layout,flex,self-center?="{{!phoneScreen}}",horizontal?="{{!phoneScreen}}",center?="{{!phoneScreen}}",center-justified?="{{!phoneScreen}}",path="images/plantImg/{{plant.file}}.jpg")
            template(if="{{!phoneScreen}}")
              rainbow-cat

      //- 评论页面 5
      section(layout,vertical)
        .comment-view(cross-fade,raised,layout,vertical,hero-id='page-comment',hero?="{{$.pages.selected === page2Num['page-comment'] || $.pages.selected === page2Num['page-main']}}")
          core-toolbar.return-bar(horizontal,layout,end-justified,center)
            paper-icon-button(cross-fade,raised,on-tap='{{back}}',icon="close" title="返回")
          .wrap(flex)
            pi-comment

      //- 关于页面 6
      section(layout, vertical)
        .about-view(cross-fade,raised,layout,vertical,hero-id='page-about',hero?="{{$.pages.selected === page2Num['page-about'] || $.pages.selected === page2Num['page-main']}}")
          core-toolbar.return-bar(horizontal,layout,end-justified,center)
            paper-icon-button(cross-fade,raised,on-tap='{{back}}',icon="close" title="返回")
          .wrap(flex)
            pi-about

    core-ajax#ajax(
      url="http://localhost:3000/getPlant"
      body='{{params}}'
      method='POST'
      contentType='application/json'
      handleAs="json"
      on-core-response="{{handleResponse}}"
    )

block beforebody
  script(src='/scripts/app.js')
  script.
    addEventListener('template-bound', function(e) {
      // 初始化、配置
      var scope = e.target,
          ajax = document.getElementById('ajax'),
          elePages = document.getElementById('pages'),
          elePlant = document.getElementById('plant'), // 植物
          eleAutoPlayBtn = document.getElementById('autoPlayBtn'), //自动切换按钮
          autoPlay = false, // 是否自动切换植物
          lastIsAutoPlay = false, // 从主页切换到其他页面时是否在自动切换植物
          timer = null,
          isChanging = false,
          config,
          baseInterval = 2500; // 基本间隔时间

      scope.params = JSON.stringify({});
      //- 配置
      config = scope.config = {
        //- bgmPath: "http://up.yuedisk.com/wl/url/brjs2013/163418/yuedisk.mp3"
        bgmPath: "http://m1.music.126.net/ean1kFoGnra6me0A_8Uk7w==/1993414581172412.mp3", //背景音乐地址
        stateInterval: baseInterval,
        canSwitchInterval: baseInterval, // 手动切换间隔时间，防止如：鼠标滚动太多一下子切换好几个植物
        switchInterval: baseInterval * 3 // 自动切换植物的间隔，应该是植物一个状态时间的倍数
      };

      // 获取植物信息
      ajax.go();


      /**
       * 鼠标滚动，切换植物
       */
      scope.handleMouseWheel = function(e){
        // 向上滚，获取上一个植物
        if(e.wheelDelta > 0){
          scope.getPre();
        }
        // 取下一个植物
        else if(e.wheelDelta < 0){
          scope.getNext();
        }
      }

      /**
       * 处理键盘事件
       */
      window.addEventListener("keydown",function(e){
        if(elePages.selected != page2Num['page-main']){ // 不是主页就退出
          return;
        }

        // left || up 上一个植物
        if(e.keyCode == 37 || e.keyCode == 38){
          scope.getPre();
        }
        // right || down
        else if(e.keyCode == 39 || e.keyCode == 40){
          scope.getNext();
        }
      });


      var startX, startY, endX, endY;
      /**
       * 触摸开始
       */
      scope.handleTouchStart = function(e){
        var touch = e.touches[0];
        startY = touch.pageY;
        startX = touch.pageX;
      }
      /**
       * 触摸中
       */
      scope.handleTouchMove = function(e){
        var touch = e.touches[0];
        endY = touch.pageY;
        endX = touch.pageX;
      }
      /**
       * 触摸结束
       */
      scope.handleTouchEnd = function(e){
        var toRight = endX - startX>50,
            toLeft = endX - startX < -50,
            toBottom = endY - startY > 50,
            toTop = endY - startY < -50;

        // 向右滑动，向下滑动，获取上一个植物
        if(toRight || toBottom){
          scope.getPre();
        }
        // 取下一个植物
        else if(toLeft || toTop){
          scope.getNext();
        }

      }

      /**
       * 摇一摇切换
       */
      var SHAKE_THRESHOLD = 800;
      var last_update = 0;
      var x = y = z = last_x = last_y = last_z = 0;

      if (window.DeviceMotionEvent) {
          window.addEventListener('devicemotion', deviceMotionHandler, false);
      } else {
          alert('本设备不支持摇一摇');
      }

      function deviceMotionHandler(eventData) {
        if(elePages.selected != page2Num['page-main']){ // 不是主页就退出
          return;
        }

        var acceleration = eventData.accelerationIncludingGravity;
        var curTime = new Date().getTime();

        if ((curTime - last_update) > 100) {
          var diffTime = curTime - last_update;
          last_update = curTime;
          x = acceleration.x;
          y = acceleration.y;
          z = acceleration.z;
          var speed = Math.abs(x + y + z - last_x - last_y - last_z) / diffTime * 10000;
          var status = document.getElementById("status");

          if (speed > SHAKE_THRESHOLD) {
            // 摇成功了
            scope.getRandom();
          }
          last_x = x;
          last_y = y;
          last_z = z;
        }
      }

      /**
       * 说明我在切换，每次切换植物都要调用，以保证不会一次切换多个植物
       * 改成 ajax 请求前调用了
       * @return {[type]} [description]
       */
      function broadChange(){
        isChanging = true;
        setTimeout(function(){
          isChanging = false;
        },config.canSwitchInterval);
      }


      /**
       * 页面切换
       */
      var page2Num = scope.page2Num={
        'page-main': 1,
        'page-all': 2,
        'page-detail': 3,
        'page-ecard': 4,
        'page-comment': 5,
        'page-about': 6
      };
      scope.selectView = function(e) {
        var fromPage = this.$.pages.selected;
        this.$.pages.selected = page2Num[e.target.getAttribute('hero-id')];
        // 如果从主页调到其他页，要记录当前是否在切换，并暂停自动切换
        if(fromPage==page2Num['page-main'] && this.$.pages.selected!=page2Num['page-main']){
          lastIsAutoPlay = autoPlay;
          stopAutoPlay();
        }
      }
      scope.back = function() {
        this.lastSelected = this.$.pages.selected;
        this.$.pages.selected = 1; //都回到 page-main

        // 如果返回主页，之前是自动切换的，那么也要开启自动切换
        if(this.$.pages.selected==page2Num['page-main'] && lastIsAutoPlay){
          startAutoPlay();
        }
      }
      //- 返回最开始才会执行
      scope.transitionend = function() {
        if (this.lastSelected) {
          this.lastSelected = null;
        }
      }


      /**
       * 上一个植物
       * @return {[type]} [description]
       */
      scope.getPre = function() {
        if(isChanging){ // 正在改变就退出
          return;
        }
        broadChange();
        ajax.url = "http://localhost:3000/getPlant";
        scope.params = JSON.stringify({"prePlant":true});
        ajax.go();
      }

      /**
       * 下一个植物
       * @return {[type]} [description]
       */
      scope.getNext = function() {
        if(isChanging){ // 正在改变就退出
          return;
        }
        broadChange();
        ajax.url = "http://localhost:3000/getPlant";
        scope.params = JSON.stringify({"nextPlant":true});
        ajax.go();
      }

      /**
       * 随机植物
       * @return {[type]} [description]
       */
      scope.getRandom = function() {
        if(isChanging){ // 正在改变就退出
          return;
        }
        broadChange();
        ajax.url = "http://localhost:3000/getPlant";
        scope.params = JSON.stringify({"random":true});
        ajax.go();
      }

      scope.handleResponse = function(){
        var ajax = document.getElementById('ajax');
        elePlant.togglePlant(); // 每次切换都重新处理状态
        scope.plant = ajax.response;
      }


      /**
       * 自动切换植物
       * @return {[type]} [description]
       */
      scope.toggleAutoPlay = function(){
        autoPlay = autoPlay ? false : true;

        if(autoPlay){
          // 立即变换
          ajax.url = "http://localhost:3000/getPlant";
          scope.params = JSON.stringify({"nextPlant":true});
          ajax.go();

          timer = setInterval(function(){
            ajax.url = "http://localhost:3000/getPlant";
            scope.params = JSON.stringify({"nextPlant":true});
            ajax.go();
          },config.switchInterval);
        }else{
          clearInterval(timer);
        }
      }

      function startAutoPlay(){
        if(!autoPlay){ // 如果正在自动切换就停止
          eleAutoPlayBtn.toggleAutoPlay(); // 保证图标正确变化
          scope.toggleAutoPlay();
          console.log('start auto play');
        }
      }

      function stopAutoPlay(){
        if(autoPlay){ // 如果正在自动切换就停止
          eleAutoPlayBtn.toggleAutoPlay(); // 保证图标正确变化
          scope.toggleAutoPlay();
          console.log('stop auto play');
        }
      }

      /**
       * 选择植物
       * @return {[type]} [description]
       */
      scope.choosePlant = function(e){
        var file = scope.activePlant,
            me= this,
            timer;

        if(file){
          scope.back(); // 点到植物才返回主页
          scope.activePlant = ""; //要清除 acivePlant

          timer = setInterval(function(){ // 页面渐变完成后，再切换植物
            if(me.lastSelected == null){ // 已经完成页面渐变，不然等于2
              stopAutoPlay();
              clearInterval(timer);
              ajax.url = "http://localhost:3000/getPlant";
              scope.params = JSON.stringify({"file":file});
              ajax.go();
            }
          },100);
        }
      }

    })
